<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senvisison.senvisiontv">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/iconpng"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SenVisionTv">
        <activity android:name=".PlayVideo.PlayerVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity
            android:name=".VideosListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/actions" />
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <receiver android:name=".Receiver.MyReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

</manifest>